.rooms {
  .room {
    cursor: pointer;
    &:hover {
      background-color: rgba(102, 102, 102, 0.5);
    }
  }
  li {
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 100%;
    padding: 15px 0 15px 0;
    h1 {
      width: 35%;
    }

    p {
      &:first-child {
        margin-left: 20px;
        width: 20%;
      }
      &:nth-child(2) {
        width: 25%;
      }
      &:nth-child(3) {
        width: 25%;
      }
    }
  }
}
