@import "../../variables";
.signup {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  p {
    font-size: 30px;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    margin: 25px 30px;
    color: #000000;
    flex-direction: column;
    .inputHeader {
      display: flex;
      span {
        margin-left: 15px;
        font-size: 12px;
        color: red;
      }
    }
    input {
      height: 30px;
      margin: 10px 0;
      border: 1px solid #666666;
      border-radius: 3px;
      padding-left: 5px;
      &::placeholder {
        padding-left: 5px;
      }
      &:focus {
        border-color: $color-4;
        outline: 0;
        &::placeholder {
          color: transparent;
        }
      }
    }
    .lastBox {
      display: flex;
      margin-top: 10px;
      select {
        width: 100px;
        border: 1px solid #666666;
        border-radius: 3px;
        margin-right: 20px;
        &:focus {
          border-color: $color-4;
          outline: 0;
        }
      }
      button {
        width: 100%;
      }
    }
  }
}
